@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@layer utilities {
  input:disabled {
    cursor: default;
    color: var(--color-base-content);
  }
}
